asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
daphne==4.1.2
djangorestframework==3.17.1
sqlparse==0.5.5
tzdata==2026.2
drf-spectacular==0.29.0
stripe==12.2.0
reportlab
openpyxl==3.1.5
psycopg[binary]==3.2.9
celery==5.5.3
